body {
  color: #fff;
  padding: 0;
  margin: 0;
}
header {
  height: auto;
}
h1 {
  font-size: 8rem;
}
.page-container {
  width: 85%;
  margin: auto;
}
.dark {
  color: #202020;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.over-hidden {
  overflow: hidden !important;
}
.vertical {
  writing-mode: vertical-rl;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.w-10p {
  width: 10%;
}
.w-90p {
  width: 90%;
}
.t-35m {
  top: -35px;
}
.t-15m {
  top: -15px;
}
.r-15m {
  right: -15px;
}
.b-15m {
  bottom: -15px;
}
.l-240m {
  left: -240px;
}
.mt-50 {
  margin-top: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.center {
  align-items: center;
  justify-content: center;
}
.outline-white {
  outline: solid #fff 2px;
}
.block1 {
  height: 80px;
  width: 100%;
  margin-bottom: 2px;
}
.block2 {
  height: 1000px;
  width: 20%;
}
.block3 {
  height: 1000px;
  width: 80%;
  justify-content: end;
  align-items: flex-end;
  background: url(../images/halcyonic_mockup.jpg) no-repeat center;
  background-size: cover;
}
.block4 {
  height: 250px;
  width: 70%;
  margin-top: 2px;
}
.block4 p {
  width: 90%;
}
.block5 {
  height: 250px;
  width: 30%;
  margin-top: 2px;
  background-color: #fff;
}
