#autotext {
    border-right: 0.15em solid #ff79c6;
    letter-spacing: 0.05em;
    animation: blink 0.75s step-end infinite;
    width: fit-content;
}

@keyframes blink {
    from,    
    to {
        border-color: transparent;
    }
    50% {
        border-color: #ff79c6;
    }
}