:root {
  --white: #fff;
  --dark: #202020;
  /* --cream: #feefd0da;
  --brown: #372703; */
}
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  color: var(--white);
}
.darker {
  color: var(--white);
  background-color: var(--dark);
}
h1 {
  font-size: 6.5rem;
}
.me-title h2 {
  font-size: 2rem;
}
.page-container {
  width: 80%;
  margin: auto;
}
.dark {
  color: var(--dark);
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.over-hidden {
  overflow: hidden !important;
}
.vertical {
  writing-mode: vertical-rl;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.w-10p {
  width: 10%;
}
.w-90p {
  width: 90%;
}
.t-35m {
  top: -35px;
}
.t-15m {
  top: -15px;
}
.r-15m {
  right: -15px;
}
.b-15m {
  bottom: -15px;
}
.l-240m {
  left: -240px;
}
.mt-50 {
  margin-top: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.center {
  align-items: center;
  justify-content: center;
}
.outline-white {
  outline: solid var(--white) 2px;
}
.block1 {
  height: 6vh;
  width: 100%;
  margin-bottom: 2px;
}
.block2 {
  height: 60vh;
  width: 20%;
}
.block3 {
  height: 60vh;
  width: 80%;
  justify-content: end;
  align-items: flex-end;
  background: url(../images/halcyonic_mockup.jpg) no-repeat center;
  background-size: cover;
}
.block4 {
  height: 14vh;
  width: 70%;
  margin-top: 2px;
}
.block4 p {
  width: 90%;
}
.block5 {
  height: 14vh;
  width: 30%;
  margin-top: 2px;
  background-color: var(--white);
}
