/* --- initialisation de la page --- */
/* ================================================================== */
* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  --fore: #ffffff;
  --fore2: #ffffff5f;
  --back: #202020;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "SF UI text", sans-serif;
  background-color: var(--back);
}
html {
  scroll-behavior: smooth;
}

/* --- paramètres globaux --- */
/* ================================================================== */
.container {
  max-width: 70%;
  margin: auto; /* centrage horizontal du container */
}
.small-caps {
  font-variant: small-caps;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* --- polices --- */
/* ================================================================== */
h2 {
  font-size: 4.8rem;
  font-variant: small-caps;
}
h3 {
  font-size: 2.5rem;
  font-variant: small-caps;
}
p {
  font-size: 1.5rem;
  text-align: justify;
}

/* --- LOGO KYW / RYW --- */
/* ================================================================== */
.logo {
  z-index: 1;
  width: 3%;
  height: auto;
  background-color: var(--back);
  border-radius: 50%;
  position: fixed;
  top: 50px;
  right: 50px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.56);
}
.logo:hover {
  filter: brightness(1.3);
  transform: scale(1.05);
}

/* --- title vertical --- */
/* ================================================================== */
.me-title {
  writing-mode: vertical-rl;
  height: 92%;
  margin: auto 0;
  margin-left: 200px;
}

/* --- NAVBAR --- */
/* ================================================================== */
nav {
  position: fixed;
  /* background-color: none; */
  /* background: #000; */
  height: 100vh;
  width: 400px;
  margin: 0;
  transition: 200ms ease;
}
nav.active {
  backdrop-filter: blur(4px);
  background-color: var(--fore2);
  z-index: 2;
}
nav.active span {
  background-color: var(--back);
}
span {
  width: 60px;
  margin: 10px 0;
  height: 5px;
  background-color: var(--fore);
}
.menu {
  cursor: pointer;
  /* background: #000; */
  width: 60px;
  display: flex;
  flex-direction: column;
  margin: 500px 50px;
  z-index: 1;
}
/* .menu:hover #longer-bar {
  width: 120px;
  transition: 350ms ease;
} */
.menu:hover .bar {
  transform: scale(1.1);
  transition: 250ms ease-in-out;
}
.menu-links {
  /* display: none; */
  position: absolute;
  top: 440px;
  left: -150px;
  line-height: 4;
  transition: 200ms ease;
}
.menu-links.active {
  left: 150px;
}
.bar {
  transition: 150ms ease-in-out;
}
.bar:nth-child(2) {
  width: 80px;
  margin-left: -10px;
}
.menu.active .bar:nth-child(2) {
  opacity: 0;
}
.menu.active .bar:nth-child(1) {
  transform: translateY(25px) rotate(45deg);
}
.menu.active .bar:nth-child(3) {
  transform: translateY(-25px) rotate(-45deg);
}
.menu-links a {
  display: inline-block;
  color: var(--back);
}
.menu-links a:hover {
  filter: brightness(0.8);
  transform: scale(1.1) !important;
}

/* --- FOOTER ---  */
/* ================================================================== */
footer {
  color: var(--fore);
}
.footer-content {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--fore);
  opacity: 0.35;
  padding: 20px 0;
}
.left-part {
  width: 15%;
  margin: auto 0;
}
.left-part li {
  display: inline-block; /*permet d'aligner les li sur la même ligne*/
  font-size: 0.9rem;
}
.bright {
  border-right: 1px solid var(--fore);
  padding-right: 5px;
}
.right-part {
  width: 10%;
  text-align: center;
}
.right-part a img {
  width: 20%;
  margin: 5px;
}
.allrights p {
  color: var(--fore);
  opacity: 0.35;
  font-size: 0.6rem;
  margin: 20px 0;
  text-align: center;
}

/* SWITCH */
.checkbox {
  width: 52px;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  background-color: var(--back);
  border-radius: 24px;
  border: solid 2px var(--fore);
  transition: border-color 200ms, background-color 200ms;
  cursor: pointer;
}
.checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: var(--fore);
  transition: width 200ms, height 200ms, transform 200ms, background-color 200ms;
}
.checkbox.on {
  border-color: var(--fore);
  background-color: var(--back);
}
.checkbox.on::before {
  background-color: var(--fore);
  width: 24px;
  height: 24px;
  transform: translateX(18px);
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 8px;
  }
  .container {
    max-width: 90%;
    margin: auto;
  }

  .logo {
    width: 10%;
    position: fixed;
  }

  .menu {
    margin: 50px;
    z-index: 1 !important;
  }
  .bar {
    width: 10px;
  }
  .bar:nth-child(2) {
    width: 15px;
    margin: -5px;
  }
}

/* --------------------------------------------------------------- */
.test {
  outline: solid 1px red; /*border for visual test*/
}
.test2 {
  outline: solid 1px aqua; /*border for visual test*/
}
.test3 {
  outline: solid 1px green; /*border for visual test*/
}
/* .scrolltest {
    height: 5000px;
} */
