/* --- GENERAL --- 
================================================================================== */
    /* --- initialisation de la page --- */
    * {
        margin: 0;
    }
    body {
        font-family: 'SF UI text', sans-serif;
        background-color: rgb(32, 32, 32);
    }
    :root {
        font-size: 16px;
    }

    /* --- paramètres globaux --- */
    .container {
        max-width: 70%;
        margin: auto; /* centrage horizontal du container */
    }
        /* --- polices --- */
        h2 {
            font-size: 4.8rem;
            font-variant: small-caps;
        }
        h3 {
            font-size: 2.5rem;
            font-variant: small-caps;
        }
        p {
            font-size: 1.5rem;
            text-align: justify;
        }

/* --- HEADER --- 
================================================================================== */
    /* paramètrage du fond du header */
    header {
        background: url(../images/work.jpg) no-repeat fixed; /* mise en place de l'image + parallax */
        height: 100vh;
        display: flex; /* positionnement du texte dans le header */
        justify-content: center; /* centrage horizontal */
        align-items: center; /* centrage vertical */
    }

    /* --- élèments du header --- */
    .header-text {
        font-variant: small-caps;
        color: #fff;
        text-align: center; /*justification du texte*/
        vertical-align: middle;
        line-height: 1.2;
    }
    .header-text h1 {
        font-size: 3rem;
    }
    .header-text h2 {
        font-size: 1.6rem;
    }

/* --- MAIN --- */
    /* --- section me --- 
    =========================================================================== */
    .me {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 350px auto;
        /* outline-top: solid 8px rgb(255, 255, 255); */
        border-left: solid 8px rgb(255, 255, 255);
        height: 700px;
        color: #fff;
    }
    .me::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        height: 8px;
        background: rgb(255, 255, 255);
        content: "";
    }
    .me-title {
        /* width: 35%; */
        transform: rotate(-90deg);
        text-align: end;
        height: 20%;
        position: relative;
        top: 250px;
        left: 5px;
        border-bottom: 1px solid white;
    }
    .me-content {
        width: 40%;
        padding: 50px;
        border-radius: 3px;
        margin-top: 20px;
        margin: auto 0;
    }
    .me-content h3 {
        text-align: center;
        margin-bottom: 30px;
    }
    h3 + P {
        margin-bottom: 50%;
    }
    .github-logo {
        width: 8%;
        height: auto;
    }
    .insta-logo {
        width: 8%;
        height: auto;
        color: white;
    }
    .twitter-logo {
        width: 8%;
        height: auto;
    }
    .arrow {
        width: 30%;
        height: auto;
        float: right;
    }
    /* .arrow:hover, #dlcv {
        visibility: visible;
    } */
    .socials a {
       margin: 10px;
    }
    .me-content-links {
        display: flex;
        justify-content: space-between;
    }
    #dlcv {
        font-size: 0.8rem;
        /* visibility: hidden; */
    }
    .dlcv {
        display: flex;
        justify-content: space-evenly;
    }

    /* --- section skills --- 
    =========================================================================== */
    .skills {
        color: #fff;
    }
    .skills-title {
        transform: rotate(-90deg);
        text-align: end;
    }







































/* --------------------------------------------------------------- */
.test {
    border: solid 1px red; /*border for visual test*/
}
.test2 {
    border: solid 1px aqua; /*border for visual test*/
}
.test3 {
    border: solid 1px green; /*border for visual test*/
}